@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

:root {
  --primary: #11998e;
  --secondary: #38ef7d;
  --white: #fff;
  --gray: #9b9b9b;
}

body {
  font-family: 'Jost', sans-serif;
  background: #BBD2C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.text-muted {
    color: var(--gray) !important;
}

.btn {
  border: 0;
  box-shadow: 0 0 0 3px inset var(--primary); 
  --_g: linear-gradient(var(--primary) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .2em;
  transition: background-size .4s, background-position 0s .4s;

  &:hover {
    background-color: transparent;
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  &:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--primary);
    color: #fff;
  }
}

.form__group {
  position: relative;
  padding: 10px 0 0;
  margin-top: 5px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--gray);
  outline: 0;
  font-size: 0.9rem;
  color: var(--white);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.2rem;
    cursor: text;
    top: 15px;
  }
}

.form__label {
  position: absolute;
  top: -5px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--gray);
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: -5px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--primary);
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 500;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--secondary),var(--primary));
  border-image-slice: 1;
}
